@media only screen and (min-width: 60em) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  header,
  footer {
    border-radius: 10px;
  }
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main section:nth-child(3) {
    grid-column: span 1;
  }
}
