@media only screen and (min-width: 37.5em) {
  .navigation {
    display: flex;
  }
  
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }

  .navigation a {
    text-align: center;
		font-size: 1rem;
	}

  .navigation li:first-child {
    display: none;
  }

  h1 {
    font-size: 3.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  header,
  footer {
    border-radius: 10px;
  }
  
  main {
    grid-template-columns: 1fr 1fr;
  }
  
  main section:nth-child(2) {
    display: block;
  }
  
  main section:nth-child(3) {
    grid-column: span 2;
  }

  main section img {
    display: block;
    width: 100%;
    height: auto;
  }
}