* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    font-size: 18px;
}

h1 {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #bed;
    color: blue;
    text-shadow: 0 0 15px grey;
}

h2 {
    padding: 0.25rem;
}

#emessage {
    visibility: hidden;
    margin: 1rem;
    border: 1px solid #777;
    padding: 0.5rem;
    font-size: 0.8rem;
    background-color: indianred;
}

.cards {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.cards section:nth-child(even) {
    background-color: #eee;
}

.highlight {
    color: navy;
}

section img {
    width: 100%;
    height: auto;
}

footer {
    border-top: 1px solid #555;
}